{
  "openapi": "3.0.0",
  "info": {
    "title": "Bungie.Net API",
    "description": "These endpoints constitute the functionality exposed by Bungie.net, both for more traditional website functionality and for connectivity to Bungie video games and their related functionality.",
    "termsOfService": "https://www.bungie.net/en/View/Bungie/terms",
    "contact": {
      "name": "Bungie.net API Support",
      "url": "https://github.com/Bungie-net/api",
      "email": "support@bungie.com"
    },
    "license": {
      "name": "BSD License 2.0",
      "url": "https://github.com/Bungie-net/api/blob/master/LICENSE"
    },
    "version": "2.14.1"
  },
  "servers": [
    {
      "url": "https://www.bungie.net/Platform",
      "description": "The endpoint for accessing the Bungie.net API.  You probably guessed that already."
    }
  ],
  "paths": {
    "/App/ApiUsage/{applicationId}/": {
      "summary": "App.GetApplicationApiUsage",
      "description": "Get API usage by application for time frame specified. You can go as far back as 30 days ago, and can ask for up to a 48 hour window of time in a single request. You must be authenticated with at least the ReadUserData permission to access this endpoint.",
      "get": {
        "tags": [
          "App"
        ],
        "description": "Get API usage by application for time frame specified. You can go as far back as 30 days ago, and can ask for up to a 48 hour window of time in a single request. You must be authenticated with at least the ReadUserData permission to access this endpoint.",
        "operationId": "App.GetApplicationApiUsage",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "ID of the application to get usage statistics.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time for query. Goes to now if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time for query. Goes to 24 hours ago if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Applications.ApiUsage"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadUserData"
            ]
          }
        ]
      }
    },
    "/App/FirstParty/": {
      "summary": "App.GetBungieApplications",
      "description": "Get list of applications created by Bungie.",
      "get": {
        "tags": [
          "App"
        ],
        "description": "Get list of applications created by Bungie.",
        "operationId": "App.GetBungieApplications",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IEnumerableOfApplication"
          }
        },
        "deprecated": false
      }
    },
    "/User/GetBungieNetUserById/{id}/": {
      "summary": "User.GetBungieNetUserById",
      "description": "Loads a bungienet user by membership id.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Loads a bungienet user by membership id.",
        "operationId": "User.GetBungieNetUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The requested Bungie.net membership id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.GeneralUser"
          }
        },
        "deprecated": false
      }
    },
    "/User/GetSanitizedPlatformDisplayNames/{membershipId}/": {
      "summary": "User.GetSanitizedPlatformDisplayNames",
      "description": "Gets a list of all display names linked to this membership id but sanitized (profanity filtered). Obeys all visibility rules of calling user and is heavily cached.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Gets a list of all display names linked to this membership id but sanitized (profanity filtered). Obeys all visibility rules of calling user and is heavily cached.",
        "operationId": "User.GetSanitizedPlatformDisplayNames",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The requested membership id to load.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEDictionaryOfBungieCredentialTypeAndstring"
          }
        },
        "deprecated": false
      }
    },
    "/User/GetCredentialTypesForTargetAccount/{membershipId}/": {
      "summary": "User.GetCredentialTypesForTargetAccount",
      "description": "Returns a list of credential types attached to the requested account",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of credential types attached to the requested account",
        "operationId": "User.GetCredentialTypesForTargetAccount",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The user's membership id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfGetCredentialTypesForAccountResponse"
          }
        },
        "deprecated": false
      }
    },
    "/User/GetAvailableThemes/": {
      "summary": "User.GetAvailableThemes",
      "description": "Returns a list of all available user themes.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of all available user themes.",
        "operationId": "User.GetAvailableThemes",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfUserTheme"
          }
        },
        "deprecated": false
      }
    },
    "/User/GetMembershipsById/{membershipId}/{membershipType}/": {
      "summary": "User.GetMembershipDataById",
      "description": "Returns a list of accounts associated with the supplied membership ID and membership type. This will include all linked accounts (even when hidden) if supplied credentials permit it.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of accounts associated with the supplied membership ID and membership type. This will include all linked accounts (even when hidden) if supplied credentials permit it.",
        "operationId": "User.GetMembershipDataById",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The membership ID of the target user.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Type of the supplied membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.UserMembershipData"
          }
        },
        "deprecated": false
      }
    },
    "/User/GetMembershipsForCurrentUser/": {
      "summary": "User.GetMembershipDataForCurrentUser",
      "description": "Returns a list of accounts associated with signed in user. This is useful for OAuth implementations that do not give you access to the token response.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of accounts associated with signed in user. This is useful for OAuth implementations that do not give you access to the token response.",
        "operationId": "User.GetMembershipDataForCurrentUser",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.UserMembershipData"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadBasicUserProfile"
            ]
          }
        ]
      }
    },
    "/User/GetMembershipFromHardLinkedCredential/{crType}/{credential}/": {
      "summary": "User.GetMembershipFromHardLinkedCredential",
      "description": "Gets any hard linked membership given a credential. Only works for credentials that are public (just SteamID64 right now). Cross Save aware.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Gets any hard linked membership given a credential. Only works for credentials that are public (just SteamID64 right now). Cross Save aware.",
        "operationId": "User.GetMembershipFromHardLinkedCredential",
        "parameters": [
          {
            "name": "credential",
            "in": "path",
            "description": "The credential to look up. Must be a valid SteamID64.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crType",
            "in": "path",
            "description": "The credential type. 'SteamId' is the only valid value at present.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of credentials the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.CredentialType.",
              "format": "byte",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieCredentialType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.HardLinkedUserMembership"
          }
        },
        "deprecated": false
      }
    },
    "/User/Search/Prefix/{displayNamePrefix}/{page}/": {
      "summary": "User.SearchByGlobalNamePrefix",
      "description": "[OBSOLETE] Do not use this to search users, use SearchByGlobalNamePost instead.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "[OBSOLETE] Do not use this to search users, use SearchByGlobalNamePost instead.",
        "operationId": "User.SearchByGlobalNamePrefix",
        "parameters": [
          {
            "name": "displayNamePrefix",
            "in": "path",
            "description": "The display name prefix you're looking for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "The zero-based page of results you desire.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.UserSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/User/Search/GlobalName/{page}/": {
      "summary": "User.SearchByGlobalNamePost",
      "description": "Given the prefix of a global display name, returns all users who share that name.",
      "post": {
        "tags": [
          "User"
        ],
        "description": "Given the prefix of a global display name, returns all users who share that name.",
        "operationId": "User.SearchByGlobalNamePost",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "The zero-based page of results you desire.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User.UserSearchPrefixRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.UserSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Content/GetContentType/{type}/": {
      "summary": "Content.GetContentType",
      "description": "Gets an object describing a particular variant of content.",
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Gets an object describing a particular variant of content.",
        "operationId": "Content.GetContentType",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Content.Models.ContentTypeDescription"
          }
        },
        "deprecated": false
      }
    },
    "/Content/GetContentById/{id}/{locale}/": {
      "summary": "Content.GetContentById",
      "description": "Returns a content item referenced by id",
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Returns a content item referenced by id",
        "operationId": "Content.GetContentById",
        "parameters": [
          {
            "name": "head",
            "in": "query",
            "description": "false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Content.ContentItemPublicContract"
          }
        },
        "deprecated": false
      }
    },
    "/Content/GetContentByTagAndType/{tag}/{type}/{locale}/": {
      "summary": "Content.GetContentByTagAndType",
      "description": "Returns the newest item that matches a given tag and Content Type.",
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Returns the newest item that matches a given tag and Content Type.",
        "operationId": "Content.GetContentByTagAndType",
        "parameters": [
          {
            "name": "head",
            "in": "query",
            "description": "Not used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Content.ContentItemPublicContract"
          }
        },
        "deprecated": false
      }
    },
    "/Content/Search/{locale}/": {
      "summary": "Content.SearchContentWithText",
      "description": "Gets content based on querystring information passed in. Provides basic search and text search capabilities.",
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Gets content based on querystring information passed in. Provides basic search and text search capabilities.",
        "operationId": "Content.SearchContentWithText",
        "parameters": [
          {
            "name": "ctype",
            "in": "query",
            "description": "Content type tag: Help, News, etc. Supply multiple ctypes separated by space.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentpage",
            "in": "query",
            "description": "Page number for the search results, starting with page 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "head",
            "in": "query",
            "description": "Not used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchtext",
            "in": "query",
            "description": "Word or phrase for the search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "For analytics, hint at the part of the app that triggered the search. Optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag used on the content to be searched.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfContentItemPublicContract"
          }
        },
        "deprecated": false
      }
    },
    "/Content/SearchContentByTagAndType/{tag}/{type}/{locale}/": {
      "summary": "Content.SearchContentByTagAndType",
      "description": "Searches for Content Items that match the given Tag and Content Type.",
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Searches for Content Items that match the given Tag and Content Type.",
        "operationId": "Content.SearchContentByTagAndType",
        "parameters": [
          {
            "name": "currentpage",
            "in": "query",
            "description": "Page number for the search results starting with page 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "head",
            "in": "query",
            "description": "Not used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "itemsperpage",
            "in": "query",
            "description": "Not used.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfContentItemPublicContract"
          }
        },
        "deprecated": false
      }
    },
    "/Content/SearchHelpArticles/{searchtext}/{size}/": {
      "summary": "Content.SearchHelpArticles",
      "description": "Search for Help Articles.",
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Search for Help Articles.",
        "operationId": "Content.SearchHelpArticles",
        "parameters": [
          {
            "name": "searchtext",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IReadOnlyCollectionOfContentItemPublicContract"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetTopicsPaged/{page}/{pageSize}/{group}/{sort}/{quickDate}/{categoryFilter}/": {
      "summary": "Forum.GetTopicsPaged",
      "description": "Get topics from any forum.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Get topics from any forum.",
        "operationId": "Forum.GetTopicsPaged",
        "parameters": [
          {
            "name": "categoryFilter",
            "in": "path",
            "description": "A category filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumTopicsCategoryFiltersEnum"
              },
              "x-enum-is-bitmask": true
            }
          },
          {
            "name": "group",
            "in": "path",
            "description": "The group, if any.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Comma seperated list of locales posts must match to return in the result list. Default 'en'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Zero paged page number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "Unused",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quickDate",
            "in": "path",
            "description": "A date filter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumTopicsQuickDateEnum"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "sort",
            "in": "path",
            "description": "The sort mode.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "byte",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumTopicsSortEnum"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "tagstring",
            "in": "query",
            "description": "The tags to search, if any.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetCoreTopicsPaged/{page}/{sort}/{quickDate}/{categoryFilter}/": {
      "summary": "Forum.GetCoreTopicsPaged",
      "description": "Gets a listing of all topics marked as part of the core group.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets a listing of all topics marked as part of the core group.",
        "operationId": "Forum.GetCoreTopicsPaged",
        "parameters": [
          {
            "name": "categoryFilter",
            "in": "path",
            "description": "The category filter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumTopicsCategoryFiltersEnum"
              },
              "x-enum-is-bitmask": true
            }
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Comma seperated list of locales posts must match to return in the result list. Default 'en'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Zero base page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quickDate",
            "in": "path",
            "description": "The date filter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumTopicsQuickDateEnum"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "sort",
            "in": "path",
            "description": "The sort mode.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "byte",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumTopicsSortEnum"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetPostsThreadedPaged/{parentPostId}/{page}/{pageSize}/{replySize}/{getParentPost}/{rootThreadMode}/{sortMode}/": {
      "summary": "Forum.GetPostsThreadedPaged",
      "description": "Returns a thread of posts at the given parent, optionally returning replies to those posts as well as the original parent.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns a thread of posts at the given parent, optionally returning replies to those posts as well as the original parent.",
        "operationId": "Forum.GetPostsThreadedPaged",
        "parameters": [
          {
            "name": "getParentPost",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "replySize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rootThreadMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumPostSortEnum"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetPostsThreadedPagedFromChild/{childPostId}/{page}/{pageSize}/{replySize}/{rootThreadMode}/{sortMode}/": {
      "summary": "Forum.GetPostsThreadedPagedFromChild",
      "description": "Returns a thread of posts starting at the topicId of the input childPostId, optionally returning replies to those posts as well as the original parent.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns a thread of posts starting at the topicId of the input childPostId, optionally returning replies to those posts as well as the original parent.",
        "operationId": "Forum.GetPostsThreadedPagedFromChild",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "replySize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rootThreadMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/Forum.ForumPostSortEnum"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetPostAndParent/{childPostId}/": {
      "summary": "Forum.GetPostAndParent",
      "description": "Returns the post specified and its immediate parent.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns the post specified and its immediate parent.",
        "operationId": "Forum.GetPostAndParent",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetPostAndParentAwaitingApproval/{childPostId}/": {
      "summary": "Forum.GetPostAndParentAwaitingApproval",
      "description": "Returns the post specified and its immediate parent of posts that are awaiting approval.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns the post specified and its immediate parent of posts that are awaiting approval.",
        "operationId": "Forum.GetPostAndParentAwaitingApproval",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetTopicForContent/{contentId}/": {
      "summary": "Forum.GetTopicForContent",
      "description": "Gets the post Id for the given content item's comments, if it exists.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets the post Id for the given content item's comments, if it exists.",
        "operationId": "Forum.GetTopicForContent",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int64"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/GetForumTagSuggestions/": {
      "summary": "Forum.GetForumTagSuggestions",
      "description": "Gets tag suggestions based on partial text entry, matching them with other tags previously used in the forums.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets tag suggestions based on partial text entry, matching them with other tags previously used in the forums.",
        "operationId": "Forum.GetForumTagSuggestions",
        "parameters": [
          {
            "name": "partialtag",
            "in": "query",
            "description": "The partial tag input to generate suggestions from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfTagResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/Poll/{topicId}/": {
      "summary": "Forum.GetPoll",
      "description": "Gets the specified forum poll.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets the specified forum poll.",
        "operationId": "Forum.GetPoll",
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the topic that has the poll.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/Forum/Recruit/Summaries/": {
      "summary": "Forum.GetRecruitmentThreadSummaries",
      "description": "Allows the caller to get a list of to 25 recruitment thread summary information objects.",
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows the caller to get a list of to 25 recruitment thread summary information objects.",
        "operationId": "Forum.GetRecruitmentThreadSummaries",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEListOfForumRecruitmentDetail"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/GetAvailableAvatars/": {
      "summary": "GroupV2.GetAvailableAvatars",
      "description": "Returns a list of all available group avatars for the signed-in user.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Returns a list of all available group avatars for the signed-in user.",
        "operationId": "GroupV2.GetAvailableAvatars",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DictionaryOfint32Andstring"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/GetAvailableThemes/": {
      "summary": "GroupV2.GetAvailableThemes",
      "description": "Returns a list of all available group themes.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Returns a list of all available group themes.",
        "operationId": "GroupV2.GetAvailableThemes",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfGroupTheme"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/GetUserClanInviteSetting/{mType}/": {
      "summary": "GroupV2.GetUserClanInviteSetting",
      "description": "Gets the state of the user's clan invite preferences for a particular membership type - true if they wish to be invited to clans, false otherwise.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets the state of the user's clan invite preferences for a particular membership type - true if they wish to be invited to clans, false otherwise.",
        "operationId": "GroupV2.GetUserClanInviteSetting",
        "parameters": [
          {
            "name": "mType",
            "in": "path",
            "description": "The Destiny membership type of the account we wish to access settings.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadUserData"
            ]
          }
        ]
      }
    },
    "/GroupV2/Recommended/{groupType}/{createDateRange}/": {
      "summary": "GroupV2.GetRecommendedGroups",
      "description": "Gets groups recommended for you based on the groups to whom those you follow belong.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets groups recommended for you based on the groups to whom those you follow belong.",
        "operationId": "GroupV2.GetRecommendedGroups",
        "parameters": [
          {
            "name": "createDateRange",
            "in": "path",
            "description": "Requested range in which to pull recommended groups",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupDateRange"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of groups requested",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfGroupV2Card"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/Search/": {
      "summary": "GroupV2.GroupSearch",
      "description": "Search for Groups.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Search for Groups.",
        "operationId": "GroupV2.GroupSearch",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/": {
      "summary": "GroupV2.GetGroup",
      "description": "Get information about a specific group of the given ID.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group of the given ID.",
        "operationId": "GroupV2.GetGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Requested group's id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/Name/{groupName}/{groupType}/": {
      "summary": "GroupV2.GetGroupByName",
      "description": "Get information about a specific group with the given name and type.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group with the given name and type.",
        "operationId": "GroupV2.GetGroupByName",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "Exact name of the group to find.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group to find.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/NameV2/": {
      "summary": "GroupV2.GetGroupByNameV2",
      "description": "Get information about a specific group with the given name and type. The POST version.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group with the given name and type. The POST version.",
        "operationId": "GroupV2.GetGroupByNameV2",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupNameSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/": {
      "summary": "GroupV2.GetGroupOptionalConversations",
      "description": "Gets a list of available optional conversation channels and their settings.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets a list of available optional conversation channels and their settings.",
        "operationId": "GroupV2.GetGroupOptionalConversations",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Requested group's id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEListOfGroupOptionalConversation"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/Edit/": {
      "summary": "GroupV2.EditGroup",
      "description": "Edit an existing group. You must have suitable permissions in the group to perform this operation. This latest revision will only edit the fields you pass in - pass null for properties you want to leave unaltered.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit an existing group. You must have suitable permissions in the group to perform this operation. This latest revision will only edit the fields you pass in - pass null for properties you want to leave unaltered.",
        "operationId": "GroupV2.EditGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupEditAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/EditClanBanner/": {
      "summary": "GroupV2.EditClanBanner",
      "description": "Edit an existing group's clan banner. You must have suitable permissions in the group to perform this operation. All fields are required.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit an existing group's clan banner. You must have suitable permissions in the group to perform this operation. All fields are required.",
        "operationId": "GroupV2.EditClanBanner",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.ClanBanner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/EditFounderOptions/": {
      "summary": "GroupV2.EditFounderOptions",
      "description": "Edit group options only available to a founder. You must have suitable permissions in the group to perform this operation.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit group options only available to a founder. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.EditFounderOptions",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupOptionsEditAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/Add/": {
      "summary": "GroupV2.AddOptionalConversation",
      "description": "Add a new optional conversation/chat channel. Requires admin permissions to the group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Add a new optional conversation/chat channel. Requires admin permissions to the group.",
        "operationId": "GroupV2.AddOptionalConversation",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupOptionalConversationAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int64"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/Edit/{conversationId}/": {
      "summary": "GroupV2.EditOptionalConversation",
      "description": "Edit the settings of an optional conversation/chat channel. Requires admin permissions to the group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit the settings of an optional conversation/chat channel. Requires admin permissions to the group.",
        "operationId": "GroupV2.EditOptionalConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "Conversation Id of the channel being edited.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupOptionalConversationEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int64"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/": {
      "summary": "GroupV2.GetMembersOfGroup",
      "description": "Get the list of members in a given group.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of members in a given group.",
        "operationId": "GroupV2.GetMembersOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "memberType",
            "in": "query",
            "description": "Filter out other member types. Use None for all members.",
            "schema": {
              "type": "integer",
              "description": "The member levels used by all V2 Groups API. Individual group types use their own mappings in their native storage (general uses BnetDbGroupMemberType and D2 clans use ClanMemberLevel), but they are all translated to this in the runtime api. These runtime values should NEVER be stored anywhere, so the values can be changed as necessary.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.RuntimeGroupMemberType"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "nameSearch",
            "in": "query",
            "description": "The name fragment upon which a search should be executed for members with matching display or unique names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMember"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/AdminsAndFounder/": {
      "summary": "GroupV2.GetAdminsAndFounderOfGroup",
      "description": "Get the list of members in a given group who are of admin level or higher.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of members in a given group who are of admin level or higher.",
        "operationId": "GroupV2.GetAdminsAndFounderOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMember"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/SetMembershipType/{memberType}/": {
      "summary": "GroupV2.EditGroupMembership",
      "description": "Edit the membership type of a given member. You must have suitable permissions in the group to perform this operation.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit the membership type of a given member. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.EditGroupMembership",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group to which the member belongs.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to modify.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provide membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "memberType",
            "in": "path",
            "description": "New membertype for the specified member.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The member levels used by all V2 Groups API. Individual group types use their own mappings in their native storage (general uses BnetDbGroupMemberType and D2 clans use ClanMemberLevel), but they are all translated to this in the runtime api. These runtime values should NEVER be stored anywhere, so the values can be changed as necessary.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.RuntimeGroupMemberType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Kick/": {
      "summary": "GroupV2.KickMember",
      "description": "Kick a member from the given group, forcing them to reapply if they wish to re-join the group. You must have suitable permissions in the group to perform this operation.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Kick a member from the given group, forcing them to reapply if they wish to re-join the group. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.KickMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID to kick the user from.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to kick.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupMemberLeaveResult"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Ban/": {
      "summary": "GroupV2.BanMember",
      "description": "Bans the requested member from the requested group for the specified period of time.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Bans the requested member from the requested group for the specified period of time.",
        "operationId": "GroupV2.BanMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID that has the member to ban.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID of the member to ban from the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupBanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Unban/": {
      "summary": "GroupV2.UnbanMember",
      "description": "Unbans the requested member, allowing them to re-apply for membership.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Unbans the requested member, allowing them to re-apply for membership.",
        "operationId": "GroupV2.UnbanMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID of the member to unban from the group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Banned/": {
      "summary": "GroupV2.GetBannedMembersOfGroup",
      "description": "Get the list of banned members in a given group. Only accessible to group Admins and above. Not applicable to all groups. Check group features.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of banned members in a given group. Only accessible to group Admins and above. Not applicable to all groups. Check group features.",
        "operationId": "GroupV2.GetBannedMembersOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 entries.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID whose banned members you are fetching",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupBan"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Admin/AbdicateFoundership/{membershipType}/{founderIdNew}/": {
      "summary": "GroupV2.AbdicateFoundership",
      "description": "An administrative method to allow the founder of a group or clan to give up their position to another admin permanently.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "An administrative method to allow the founder of a group or clan to give up their position to another admin permanently.",
        "operationId": "GroupV2.AbdicateFoundership",
        "parameters": [
          {
            "name": "founderIdNew",
            "in": "path",
            "description": "The new founder for this group. Must already be a group admin.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The target group id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided founderIdNew.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/Members/Pending/": {
      "summary": "GroupV2.GetPendingMemberships",
      "description": "Get the list of users who are awaiting a decision on their application to join a given group. Modified to include application info.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of users who are awaiting a decision on their application to join a given group. Modified to include application info.",
        "operationId": "GroupV2.GetPendingMemberships",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMemberApplication"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/InvitedIndividuals/": {
      "summary": "GroupV2.GetInvitedIndividuals",
      "description": "Get the list of users who have been invited into the group.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of users who have been invited into the group.",
        "operationId": "GroupV2.GetInvitedIndividuals",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMemberApplication"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/ApproveAll/": {
      "summary": "GroupV2.ApproveAllPending",
      "description": "Approve all of the pending users for the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Approve all of the pending users for the given group.",
        "operationId": "GroupV2.ApproveAllPending",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/DenyAll/": {
      "summary": "GroupV2.DenyAllPending",
      "description": "Deny all of the pending users for the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Deny all of the pending users for the given group.",
        "operationId": "GroupV2.DenyAllPending",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/ApproveList/": {
      "summary": "GroupV2.ApprovePendingForList",
      "description": "Approve all of the pending users for the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Approve all of the pending users for the given group.",
        "operationId": "GroupV2.ApprovePendingForList",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/Approve/{membershipType}/{membershipId}/": {
      "summary": "GroupV2.ApprovePending",
      "description": "Approve the given membershipId to join the group/clan as long as they have applied.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Approve the given membershipId to join the group/clan as long as they have applied.",
        "operationId": "GroupV2.ApprovePending",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "The membership id being approved.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/DenyList/": {
      "summary": "GroupV2.DenyPendingForList",
      "description": "Deny all of the pending users for the given group that match the passed-in .",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Deny all of the pending users for the given group that match the passed-in .",
        "operationId": "GroupV2.DenyPendingForList",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/User/{membershipType}/{membershipId}/{filter}/{groupType}/": {
      "summary": "GroupV2.GetGroupsForMember",
      "description": "Get information about the groups that a given member has joined.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about the groups that a given member has joined.",
        "operationId": "GroupV2.GetGroupsForMember",
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "Filter apply to list of joined groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupsForMemberFilter"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group the supplied member founded.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupType"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to for which to find founded groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GetGroupsForMemberResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/Recover/{membershipType}/{membershipId}/{groupType}/": {
      "summary": "GroupV2.RecoverGroupForFounder",
      "description": "Allows a founder to manually recover a group they can see in game but not on bungie.net",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Allows a founder to manually recover a group they can see in game but not on bungie.net",
        "operationId": "GroupV2.RecoverGroupForFounder",
        "parameters": [
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group the supplied member founded.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupType"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to for which to find founded groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupMembershipSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/User/Potential/{membershipType}/{membershipId}/{filter}/{groupType}/": {
      "summary": "GroupV2.GetPotentialGroupsForMember",
      "description": "Get information about the groups that a given member has applied to or been invited to.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about the groups that a given member has applied to or been invited to.",
        "operationId": "GroupV2.GetPotentialGroupsForMember",
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "Filter apply to list of potential joined groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupPotentialMemberStatus"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group the supplied member applied.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/GroupsV2.GroupType"
              },
              "x-enum-is-bitmask": false
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to for which to find applied groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupPotentialMembershipSearchResponse"
          }
        },
        "deprecated": false
      }
    },
    "/GroupV2/{groupId}/Members/IndividualInvite/{membershipType}/{membershipId}/": {
      "summary": "GroupV2.IndividualGroupInvite",
      "description": "Invite a user to join this group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Invite a user to join this group.",
        "operationId": "GroupV2.IndividualGroupInvite",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group you would like to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership id of the account being invited.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "MembershipType of the account being invited.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupApplicationResponse"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/IndividualInviteCancel/{membershipType}/{membershipId}/": {
      "summary": "GroupV2.IndividualGroupInviteCancel",
      "description": "Cancels a pending invitation to join a group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Cancels a pending invitation to join a group.",
        "operationId": "GroupV2.IndividualGroupInviteCancel",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group you would like to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership id of the account being cancelled.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "MembershipType of the account being cancelled.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The types of membership the Accounts system supports. This is the external facing enum used in place of the internal-only Bungie.SharedDefinitions.MembershipType.",
              "format": "int32",
              "x-enum-reference": {
                "$ref": "#/components/schemas/BungieMembershipType"
              },
              "x-enum-is-bitmask": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupApplicationResponse"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/Tokens/Partner/ClaimOffer/": {
      "summary": "Tokens.ClaimPartnerOffer",
      "description": "Claim a partner offer as the authenticated user.",
      "post": {
        "tags": [
          "Tokens"
        ],
        "description": "Claim a partner offer as the authenticated user.",
        "operationId": "Tokens.ClaimPartnerOffer",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tokens.PartnerOfferClaimRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "PartnerOfferGrant"
            ]
          }
        ]
      }
    },
    "/Tokens/Partner/ApplyMissingOffers/{partnerApplicationId}/{targetBnetMembershipId}/": {
      "summary": "Tokens.ApplyMissingPartnerOffersWithoutClaim",
      "description": "Apply a partner offer to the targeted user. This endpoint does not claim a new offer, but any already claimed offers will be applied to the game if not already.",
      "post": {
        "tags": [
          "Tokens"
        ],
        "description": "Apply a partner offer to the targeted user. This endpoint does not claim a new offer, but any already claimed offers will be applied to the game if not already.",
        "operationId": "Tokens.ApplyMissingPartnerOffersWithoutClaim",
        "parameters": [
          {
            "name": "partnerApplicationId",
            "in": "path",
            "description": "The partner application identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "targetBnetMembershipId",
            "in": "path",
            "description": "The bungie.net user to apply missing offers to. If not self, elevated permissions are required.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "PartnerOfferGrant"
            ]
          }
        ]
      }
    },
    "/Tokens/Partner/History/{partnerApplicationId}/{targetBnetMembershipId}/": {
      "summary": "Tokens.GetPartnerOfferSkuHistory",
      "description": "Returns the partner sku and offer history of the targeted user. Elevated permissions are required to see users that are not yourself.",
      "get": {
        "tags": [
          "Tokens"
        ],
        "description": "Returns the partner sku and offer history of the targeted user. Elevated permissions are required to see users that are not yourself.",
        "operationId": "Tokens.GetPartnerOfferSkuHistory",
        "parameters": [
          {
            "name": "partnerApplicationId",
            "in": "path",
            "description": "The partner application identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "targetBnetMembershipId",
            "in": "path",
            "description": "The bungie.net user to apply missing offers to. If not self, elevated permissions are required.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEListOfPartnerOfferSkuHistoryResponse"
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "PartnerOfferGrant"
            ]
          }
        ]
      }
    },
    "/Destiny2/Manifest/": {
      "summary": "Destiny2.GetDestinyManifest",
      "description": "Returns the current version of the manifest as a json object.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns the current version of the manifest as a json object.",
        "operationId": "Destiny2.GetDestinyManifest",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Config.DestinyManifest"
          }
        },
        "deprecated": false
      }
    },
    "/Destiny2/Manifest/{entityType}/{hashIdentifier}/": {
      "summary": "Destiny2.GetDestinyEntityDefinition",
      "description": "Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.",
        "operationId": "Destiny2.GetDestinyEntityDefinition",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "description": "The type of entity for whom you would like results. These correspond to the entity's definition contract name. For instance, if you are looking for items, this property should be 'DestinyInventoryItemDefinition'. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is tentatively in final form, but there may be bugs that prevent desirable operation.",
            "required": true,
            "schema": {
[...]
