{
  "swagger": "2.0",
  "info": {
    "title": "Bungie.Net API",
    "description": "These endpoints constitute the functionality exposed by Bungie.net, both for more traditional website functionality and for connectivity to Bungie video games and their related functionality.",
    "termsOfService": "https://www.bungie.net/en/View/Bungie/terms",
    "contact": {
      "name": "Bungie.net API Support",
      "url": "https://github.com/Bungie-net/api",
      "email": "support@bungie.com"
    },
    "license": {
      "name": "BSD License 2.0",
      "url": "https://github.com/Bungie-net/api/blob/master/LICENSE"
    },
    "version": "2.13.0"
  },
  "host": "www.bungie.net",
  "basePath": "/Platform",
  "schemes": [
    "https"
  ],
  "paths": {
    "/App/ApiUsage/{applicationId}/": {
      "get": {
        "tags": [
          "App"
        ],
        "description": "Get API usage by application for time frame specified. You can go as far back as 30 days ago, and can ask for up to a 48 hour window of time in a single request. You must be authenticated with at least the ReadUserData permission to access this endpoint.",
        "operationId": "App.GetApplicationApiUsage",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "ID of the application to get usage statistics.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time for query. Goes to now if not specified.",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time for query. Goes to 24 hours ago if not specified.",
            "type": "string",
            "format": "date-time"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadUserData"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Applications.ApiUsage"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/App/FirstParty/": {
      "get": {
        "tags": [
          "App"
        ],
        "description": "Get list of applications created by Bungie.",
        "operationId": "App.GetBungieApplications",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Applications.Application"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/GetBungieNetUserById/{id}/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Loads a bungienet user by membership id.",
        "operationId": "User.GetBungieNetUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The requested Bungie.net membership id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/User.GeneralUser"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/GetCredentialTypesForTargetAccount/{membershipId}/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of credential types attached to the requested account",
        "operationId": "User.GetCredentialTypesForTargetAccount",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The user's membership id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User.Models.GetCredentialTypesForAccountResponse"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/GetAvailableThemes/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of all available user themes.",
        "operationId": "User.GetAvailableThemes",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Config.UserTheme"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/GetMembershipsById/{membershipId}/{membershipType}/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of accounts associated with the supplied membership ID and membership type. This will include all linked accounts (even when hidden) if supplied credentials permit it.",
        "operationId": "User.GetMembershipDataById",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The membership ID of the target user.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Type of the supplied membership ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/User.UserMembershipData"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/GetMembershipsForCurrentUser/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of accounts associated with signed in user. This is useful for OAuth implementations that do not give you access to the token response.",
        "operationId": "User.GetMembershipDataForCurrentUser",
        "parameters": [],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadBasicUserProfile"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/User.UserMembershipData"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/GetMembershipFromHardLinkedCredential/{crType}/{credential}/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Gets any hard linked membership given a credential. Only works for credentials that are public (just SteamID64 right now). Cross Save aware.",
        "operationId": "User.GetMembershipFromHardLinkedCredential",
        "parameters": [
          {
            "name": "credential",
            "in": "path",
            "description": "The credential to look up. Must be a valid SteamID64.",
            "required": true,
            "type": "string"
          },
          {
            "name": "crType",
            "in": "path",
            "description": "The credential type. 'SteamId' is the only valid value at present.",
            "required": true,
            "type": "integer",
            "format": "byte"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/User.HardLinkedUserMembership"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/Search/Prefix/{displayNamePrefix}/{page}/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "[OBSOLETE] Do not use this to search users, use SearchByGlobalNamePost instead.",
        "operationId": "User.SearchByGlobalNamePrefix",
        "parameters": [
          {
            "name": "displayNamePrefix",
            "in": "path",
            "description": "The display name prefix you're looking for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "path",
            "description": "The zero-based page of results you desire.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/User.UserSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/User/Search/GlobalName/{page}/": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Given the prefix of a global display name, returns all users who share that name.",
        "operationId": "User.SearchByGlobalNamePost",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "The zero-based page of results you desire.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/User.UserSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Content/GetContentType/{type}/": {
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Gets an object describing a particular variant of content.",
        "operationId": "Content.GetContentType",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Content.Models.ContentTypeDescription"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Content/GetContentById/{id}/{locale}/": {
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Returns a content item referenced by id",
        "operationId": "Content.GetContentById",
        "parameters": [
          {
            "name": "head",
            "in": "query",
            "description": "false",
            "type": "boolean"
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Content.ContentItemPublicContract"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Content/GetContentByTagAndType/{tag}/{type}/{locale}/": {
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Returns the newest item that matches a given tag and Content Type.",
        "operationId": "Content.GetContentByTagAndType",
        "parameters": [
          {
            "name": "head",
            "in": "query",
            "description": "Not used.",
            "type": "boolean"
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Content.ContentItemPublicContract"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Content/Search/{locale}/": {
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Gets content based on querystring information passed in. Provides basic search and text search capabilities.",
        "operationId": "Content.SearchContentWithText",
        "parameters": [
          {
            "name": "ctype",
            "in": "query",
            "description": "Content type tag: Help, News, etc. Supply multiple ctypes separated by space.",
            "type": "string"
          },
          {
            "name": "currentpage",
            "in": "query",
            "description": "Page number for the search results, starting with page 1.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "head",
            "in": "query",
            "description": "Not used.",
            "type": "boolean"
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "searchtext",
            "in": "query",
            "description": "Word or phrase for the search.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "For analytics, hint at the part of the app that triggered the search. Optional.",
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag used on the content to be searched.",
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/SearchResultOfContentItemPublicContract"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Content/SearchContentByTagAndType/{tag}/{type}/{locale}/": {
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Searches for Content Items that match the given Tag and Content Type.",
        "operationId": "Content.SearchContentByTagAndType",
        "parameters": [
          {
            "name": "currentpage",
            "in": "query",
            "description": "Page number for the search results starting with page 1.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "head",
            "in": "query",
            "description": "Not used.",
            "type": "boolean"
          },
          {
            "name": "itemsperpage",
            "in": "query",
            "description": "Not used.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/SearchResultOfContentItemPublicContract"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Content/SearchHelpArticles/{searchtext}/{size}/": {
      "get": {
        "tags": [
          "Content"
        ],
        "description": "Search for Help Articles.",
        "operationId": "Content.SearchHelpArticles",
        "parameters": [
          {
            "name": "searchtext",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "size",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "object"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetTopicsPaged/{page}/{pageSize}/{group}/{sort}/{quickDate}/{categoryFilter}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Get topics from any forum.",
        "operationId": "Forum.GetTopicsPaged",
        "parameters": [
          {
            "name": "categoryFilter",
            "in": "path",
            "description": "A category filter",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group",
            "in": "path",
            "description": "The group, if any.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Comma seperated list of locales posts must match to return in the result list. Default 'en'",
            "type": "string"
          },
          {
            "name": "page",
            "in": "path",
            "description": "Zero paged page number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "Unused",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "quickDate",
            "in": "path",
            "description": "A date filter.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "path",
            "description": "The sort mode.",
            "required": true,
            "type": "integer",
            "format": "byte"
          },
          {
            "name": "tagstring",
            "in": "query",
            "description": "The tags to search, if any.",
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetCoreTopicsPaged/{page}/{sort}/{quickDate}/{categoryFilter}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets a listing of all topics marked as part of the core group.",
        "operationId": "Forum.GetCoreTopicsPaged",
        "parameters": [
          {
            "name": "categoryFilter",
            "in": "path",
            "description": "The category filter.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Comma seperated list of locales posts must match to return in the result list. Default 'en'",
            "type": "string"
          },
          {
            "name": "page",
            "in": "path",
            "description": "Zero base page",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "quickDate",
            "in": "path",
            "description": "The date filter.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "path",
            "description": "The sort mode.",
            "required": true,
            "type": "integer",
            "format": "byte"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetPostsThreadedPaged/{parentPostId}/{page}/{pageSize}/{replySize}/{getParentPost}/{rootThreadMode}/{sortMode}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns a thread of posts at the given parent, optionally returning replies to those posts as well as the original parent.",
        "operationId": "Forum.GetPostsThreadedPaged",
        "parameters": [
          {
            "name": "getParentPost",
            "in": "path",
            "description": "",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parentPostId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "replySize",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "rootThreadMode",
            "in": "path",
            "description": "",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "type": "string"
          },
          {
            "name": "sortMode",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetPostsThreadedPagedFromChild/{childPostId}/{page}/{pageSize}/{replySize}/{rootThreadMode}/{sortMode}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns a thread of posts starting at the topicId of the input childPostId, optionally returning replies to those posts as well as the original parent.",
        "operationId": "Forum.GetPostsThreadedPagedFromChild",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "replySize",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "rootThreadMode",
            "in": "path",
            "description": "",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "type": "string"
          },
          {
            "name": "sortMode",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetPostAndParent/{childPostId}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns the post specified and its immediate parent.",
        "operationId": "Forum.GetPostAndParent",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetPostAndParentAwaitingApproval/{childPostId}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns the post specified and its immediate parent of posts that are awaiting approval.",
        "operationId": "Forum.GetPostAndParentAwaitingApproval",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetTopicForContent/{contentId}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets the post Id for the given content item's comments, if it exists.",
        "operationId": "Forum.GetTopicForContent",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int64",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/GetForumTagSuggestions/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets tag suggestions based on partial text entry, matching them with other tags previously used in the forums.",
        "operationId": "Forum.GetForumTagSuggestions",
        "parameters": [
          {
            "name": "partialtag",
            "in": "query",
            "description": "The partial tag input to generate suggestions from.",
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Tags.Models.Contracts.TagResponse"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/Poll/{topicId}/": {
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets the specified forum poll.",
        "operationId": "Forum.GetPoll",
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the topic that has the poll.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/Forum.PostSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/Forum/Recruit/Summaries/": {
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows the caller to get a list of to 25 recruitment thread summary information objects.",
        "operationId": "Forum.GetRecruitmentThreadSummaries",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Forum.ForumRecruitmentDetail"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/GetAvailableAvatars/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Returns a list of all available group avatars for the signed-in user.",
        "operationId": "GroupV2.GetAvailableAvatars",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/GetAvailableThemes/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Returns a list of all available group themes.",
        "operationId": "GroupV2.GetAvailableThemes",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Config.GroupTheme"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/GetUserClanInviteSetting/{mType}/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets the state of the user's clan invite preferences for a particular membership type - true if they wish to be invited to clans, false otherwise.",
        "operationId": "GroupV2.GetUserClanInviteSetting",
        "parameters": [
          {
            "name": "mType",
            "in": "path",
            "description": "The Destiny membership type of the account we wish to access settings.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadUserData"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "boolean"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/Recommended/{groupType}/{createDateRange}/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets groups recommended for you based on the groups to whom those you follow belong.",
        "operationId": "GroupV2.GetRecommendedGroups",
        "parameters": [
          {
            "name": "createDateRange",
            "in": "path",
            "description": "Requested range in which to pull recommended groups",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of groups requested",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "ReadGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/GroupsV2.GroupV2Card"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/Search/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Search for Groups.",
        "operationId": "GroupV2.GroupSearch",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/GroupsV2.GroupSearchResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group of the given ID.",
        "operationId": "GroupV2.GetGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Requested group's id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/GroupsV2.GroupResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/Name/{groupName}/{groupType}/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group with the given name and type.",
        "operationId": "GroupV2.GetGroupByName",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "Exact name of the group to find.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group to find.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/GroupsV2.GroupResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/NameV2/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group with the given name and type. The POST version.",
        "operationId": "GroupV2.GetGroupByNameV2",
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/GroupsV2.GroupResponse"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets a list of available optional conversation channels and their settings.",
        "operationId": "GroupV2.GetGroupOptionalConversations",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Requested group's id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/GroupsV2.GroupOptionalConversation"
                  }
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Edit/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit an existing group. You must have suitable permissions in the group to perform this operation. This latest revision will only edit the fields you pass in - pass null for properties you want to leave unaltered.",
        "operationId": "GroupV2.EditGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/EditClanBanner/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit an existing group's clan banner. You must have suitable permissions in the group to perform this operation. All fields are required.",
        "operationId": "GroupV2.EditClanBanner",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/EditFounderOptions/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit group options only available to a founder. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.EditFounderOptions",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/Add/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Add a new optional conversation/chat channel. Requires admin permissions to the group.",
        "operationId": "GroupV2.AddOptionalConversation",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int64",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/Edit/{conversationId}/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit the settings of an optional conversation/chat channel. Requires admin permissions to the group.",
        "operationId": "GroupV2.EditOptionalConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "Conversation Id of the channel being edited.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int64",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of members in a given group.",
        "operationId": "GroupV2.GetMembersOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "memberType",
            "in": "query",
            "description": "Filter out other member types. Use None for all members.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nameSearch",
            "in": "query",
            "description": "The name fragment upon which a search should be executed for members with matching display or unique names.",
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/SearchResultOfGroupMember"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/AdminsAndFounder/": {
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of members in a given group who are of admin level or higher.",
        "operationId": "GroupV2.GetAdminsAndFounderOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/SearchResultOfGroupMember"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/SetMembershipType/{memberType}/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit the membership type of a given member. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.EditGroupMembership",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group to which the member belongs.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to modify.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provide membership ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "memberType",
            "in": "path",
            "description": "New membertype for the specified member.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Kick/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Kick a member from the given group, forcing them to reapply if they wish to re-join the group. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.KickMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID to kick the user from.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to kick.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "$ref": "#/definitions/GroupsV2.GroupMemberLeaveResult"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Ban/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Bans the requested member from the requested group for the specified period of time.",
        "operationId": "GroupV2.BanMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID that has the member to ban.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID of the member to ban from the group.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Unban/": {
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Unbans the requested member, allowing them to re-apply for membership.",
        "operationId": "GroupV2.UnbanMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID of the member to unban from the group",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Look at the Response property for more information about the nature of this response",
            "schema": {
              "type": "object",
              "properties": {
                "Response": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCode": {
                  "format": "int32",
                  "type": "integer",
                  "x-enum-reference": {
                    "$ref": "#/components/schemas/Exceptions.PlatformErrorCodes"
                  }
                },
                "ThrottleSeconds": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorStatus": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                },
                "MessageData": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "DetailedErrorTrace": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/GroupV2/{groupId}/Banned/": {
      "get": {
[...]
