{
  "openapi": "3.0.0",
  "info": {
    "title": "Bungie.Net API",
    "description": "These endpoints constitute the functionality exposed by Bungie.net, both for more traditional website functionality and for connectivity to Bungie video games and their related functionality.",
    "termsOfService": "https://www.bungie.net/en/View/Bungie/terms",
    "contact": {
      "name": "Bungie.net API Support",
      "url": "https://github.com/Bungie-net/api",
      "email": "support@bungie.com"
    },
    "license": {
      "name": "BSD License 2.0",
      "url": "https://github.com/Bungie-net/api/blob/master/LICENSE"
    },
    "version": "2.0.1"
  },
  "servers": [
    {
      "url": "https://www.bungie.net/Platform",
      "description": "The endpoint for accessing the Bungie.net API.  You probably guessed that already."
    }
  ],
  "paths": {
    "/User/GetBungieNetUserById/{id}/": {
      "summary": "User.GetBungieNetUserById",
      "description": "Loads a bungienet user by membership id.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Loads a bungienet user by membership id.",
        "operationId": "User.GetBungieNetUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The requested Bungie.net membership id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.GeneralUser"
          }
        }
      }
    },
    "/User/GetUserAliases/{id}/": {
      "summary": "User.GetUserAliases",
      "description": "Loads aliases of a bungienet membership id.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Loads aliases of a bungienet membership id.",
        "operationId": "User.GetUserAliases",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The requested Bungie.net membership id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfUserAlias"
          }
        }
      }
    },
    "/User/SearchUsers/": {
      "summary": "User.SearchUsers",
      "description": "Returns a list of possible users based on the search string",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of possible users based on the search string",
        "operationId": "User.SearchUsers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfGeneralUser"
          }
        }
      }
    },
    "/User/GetAvailableThemes/": {
      "summary": "User.GetAvailableThemes",
      "description": "Returns a list of all available user themes.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of all available user themes.",
        "operationId": "User.GetAvailableThemes",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfUserTheme"
          }
        }
      }
    },
    "/User/GetMembershipsById/{membershipId}/{membershipType}/": {
      "summary": "User.GetMembershipDataById",
      "description": "Returns a list of accounts associated with the supplied membership ID and membership type. This will include all linked accounts (even when hidden) if supplied credentials permit it.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of accounts associated with the supplied membership ID and membership type. This will include all linked accounts (even when hidden) if supplied credentials permit it.",
        "operationId": "User.GetMembershipDataById",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The membership ID of the target user.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Type of the supplied membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.UserMembershipData"
          }
        }
      }
    },
    "/User/GetMembershipsForCurrentUser/": {
      "summary": "User.GetMembershipDataForCurrentUser",
      "description": "Returns a list of accounts associated with signed in user. This is useful for OAuth implementations that do not give you access to the token response.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a list of accounts associated with signed in user. This is useful for OAuth implementations that do not give you access to the token response.",
        "operationId": "User.GetMembershipDataForCurrentUser",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.UserMembershipData"
          }
        },
        "security": [
          {
            "oauth2": [
              "ReadBasicUserProfile"
            ]
          }
        ]
      }
    },
    "/User/{membershipId}/Partnerships/": {
      "summary": "User.GetPartnerships",
      "description": "Returns a user's linked Partnerships.",
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a user's linked Partnerships.",
        "operationId": "User.GetPartnerships",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The ID of the member for whom partnerships should be returned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEListOfPublicPartnershipDetail"
          }
        }
      }
    },
    "/Forum/GetTopicsPaged/{page}/{pageSize}/{group}/{sort}/{quickDate}/{categoryFilter}/": {
      "summary": "Forum.GetTopicsPaged",
      "description": "Get topics from any forum.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Get topics from any forum.",
        "operationId": "Forum.GetTopicsPaged",
        "parameters": [
          {
            "name": "categoryFilter",
            "in": "path",
            "description": "A category filter",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumTopicsCategoryFiltersEnum"
            }
          },
          {
            "name": "group",
            "in": "path",
            "description": "The group, if any.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Comma seperated list of locales posts must match to return in the result list. Default 'en'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Zero paged page number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "Unused",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quickDate",
            "in": "path",
            "description": "A date filter.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumTopicsQuickDateEnum"
            }
          },
          {
            "name": "sort",
            "in": "path",
            "description": "The sort mode.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumTopicsSortEnum"
            }
          },
          {
            "name": "tagstring",
            "in": "query",
            "description": "The tags to search, if any.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/GetCoreTopicsPaged/{page}/{sort}/{quickDate}/{categoryFilter}/": {
      "summary": "Forum.GetCoreTopicsPaged",
      "description": "Gets a listing of all topics marked as part of the core group.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets a listing of all topics marked as part of the core group.",
        "operationId": "Forum.GetCoreTopicsPaged",
        "parameters": [
          {
            "name": "categoryFilter",
            "in": "path",
            "description": "The category filter.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumTopicsCategoryFiltersEnum"
            }
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Comma seperated list of locales posts must match to return in the result list. Default 'en'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Zero base page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quickDate",
            "in": "path",
            "description": "The date filter.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumTopicsQuickDateEnum"
            }
          },
          {
            "name": "sort",
            "in": "path",
            "description": "The sort mode.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumTopicsSortEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/GetPostsThreadedPaged/{parentPostId}/{page}/{pageSize}/{replySize}/{getParentPost}/{rootThreadMode}/{sortMode}/": {
      "summary": "Forum.GetPostsThreadedPaged",
      "description": "Returns a thread of posts at the given parent, optionally returning replies to those posts as well as the original parent.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns a thread of posts at the given parent, optionally returning replies to those posts as well as the original parent.",
        "operationId": "Forum.GetPostsThreadedPaged",
        "parameters": [
          {
            "name": "getParentPost",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint64"
            }
          },
          {
            "name": "replySize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rootThreadMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumPostSortEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/GetPostsThreadedPagedFromChild/{childPostId}/{page}/{pageSize}/{replySize}/{rootThreadMode}/{sortMode}/": {
      "summary": "Forum.GetPostsThreadedPagedFromChild",
      "description": "Returns a thread of posts starting at the topicId of the input childPostId, optionally returning replies to those posts as well as the original parent.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns a thread of posts starting at the topicId of the input childPostId, optionally returning replies to those posts as well as the original parent.",
        "operationId": "Forum.GetPostsThreadedPagedFromChild",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint64"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "replySize",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rootThreadMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortMode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Forum.ForumPostSortEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/GetPostAndParent/{childPostId}/": {
      "summary": "Forum.GetPostAndParent",
      "description": "Returns the post specified and its immediate parent.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns the post specified and its immediate parent.",
        "operationId": "Forum.GetPostAndParent",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint64"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/GetPostAndParentAwaitingApproval/{childPostId}/": {
      "summary": "Forum.GetPostAndParentAwaitingApproval",
      "description": "Returns the post specified and its immediate parent of posts that are awaiting approval.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Returns the post specified and its immediate parent of posts that are awaiting approval.",
        "operationId": "Forum.GetPostAndParentAwaitingApproval",
        "parameters": [
          {
            "name": "childPostId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint64"
            }
          },
          {
            "name": "showbanned",
            "in": "query",
            "description": "If this value is not null or empty, banned posts are requested to be returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/GetTopicForContent/{contentId}/": {
      "summary": "Forum.GetTopicForContent",
      "description": "Gets the post Id for the given content item's comments, if it exists.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets the post Id for the given content item's comments, if it exists.",
        "operationId": "Forum.GetTopicForContent",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int64"
          }
        }
      }
    },
    "/Forum/GetForumTagSuggestions/": {
      "summary": "Forum.GetForumTagSuggestions",
      "description": "Gets tag suggestions based on partial text entry, matching them with other tags previously used in the forums.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets tag suggestions based on partial text entry, matching them with other tags previously used in the forums.",
        "operationId": "Forum.GetForumTagSuggestions",
        "parameters": [
          {
            "name": "partialtag",
            "in": "query",
            "description": "The partial tag input to generate suggestions from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfTagResponse"
          }
        }
      }
    },
    "/Forum/Poll/{topicId}/": {
      "summary": "Forum.GetPoll",
      "description": "Gets the specified forum poll.",
      "get": {
        "tags": [
          "Forum"
        ],
        "description": "Gets the specified forum poll.",
        "operationId": "Forum.GetPoll",
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the topic that has the poll.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.PostSearchResponse"
          }
        }
      }
    },
    "/Forum/Recruit/Join/{topicId}/": {
      "summary": "Forum.JoinFireteamThread",
      "description": "Allows a user to slot themselves into a recruitment thread fireteam slot. Returns the new state of the fireteam.",
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows a user to slot themselves into a recruitment thread fireteam slot. Returns the new state of the fireteam.",
        "operationId": "Forum.JoinFireteamThread",
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the recruitment topic you wish to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.ForumRecruitmentDetail"
          }
        },
        "security": [
          {
            "oauth2": [
              "WriteGroups",
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/Forum/Recruit/Leave/{topicId}/": {
      "summary": "Forum.LeaveFireteamThread",
      "description": "Allows a user to remove themselves from a recruitment thread fireteam slot. Returns the new state of the fireteam.",
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows a user to remove themselves from a recruitment thread fireteam slot. Returns the new state of the fireteam.",
        "operationId": "Forum.LeaveFireteamThread",
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the recruitment topic you wish to leave.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.ForumRecruitmentDetail"
          }
        },
        "security": [
          {
            "oauth2": [
              "WriteGroups",
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/Forum/Recruit/KickBan/{topicId}/{targetMembershipId}/": {
      "summary": "Forum.KickBanFireteamApplicant",
      "description": "Allows a recruitment thread owner to kick a join user from the fireteam. Returns the new state of the fireteam.",
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows a recruitment thread owner to kick a join user from the fireteam. Returns the new state of the fireteam.",
        "operationId": "Forum.KickBanFireteamApplicant",
        "parameters": [
          {
            "name": "targetMembershipId",
            "in": "path",
            "description": "The id of the user you wish to kick.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the recruitment topic you wish to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Forum.ForumRecruitmentDetail"
          }
        },
        "security": [
          {
            "oauth2": [
              "WriteGroups",
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/Forum/Recruit/Approve/{topicId}/": {
      "summary": "Forum.ApproveFireteamThread",
      "description": "Allows the owner of a fireteam thread to approve all joined members and start a private message conversation with them.",
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows the owner of a fireteam thread to approve all joined members and start a private message conversation with them.",
        "operationId": "Forum.ApproveFireteamThread",
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "description": "The post id of the recruitment topic to approve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Messages.Responses.SaveMessageResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "WriteGroups",
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/Forum/Recruit/Summaries/": {
      "summary": "Forum.GetRecruitmentThreadSummaries",
      "description": "Allows the caller to get a list of to 25 recruitment thread summary information objects.",
      "post": {
        "tags": [
          "Forum"
        ],
        "description": "Allows the caller to get a list of to 25 recruitment thread summary information objects.",
        "operationId": "Forum.GetRecruitmentThreadSummaries",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEListOfForumRecruitmentDetail"
          }
        }
      }
    },
    "/GroupV2/GetAvailableAvatars/": {
      "summary": "GroupV2.GetAvailableAvatars",
      "description": "Returns a list of all available group avatars for the signed-in user.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Returns a list of all available group avatars for the signed-in user.",
        "operationId": "GroupV2.GetAvailableAvatars",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DictionaryOfint32Andstring"
          }
        }
      }
    },
    "/GroupV2/GetAvailableThemes/": {
      "summary": "GroupV2.GetAvailableThemes",
      "description": "Returns a list of all available group themes.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Returns a list of all available group themes.",
        "operationId": "GroupV2.GetAvailableThemes",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfGroupTheme"
          }
        }
      }
    },
    "/GroupV2/GetUserClanInviteSetting/{mType}/": {
      "summary": "GroupV2.GetUserClanInviteSetting",
      "description": "Gets the state of the user's clan invite preferences for a particular membership type - true if they wish to be invited to clans, false otherwise.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets the state of the user's clan invite preferences for a particular membership type - true if they wish to be invited to clans, false otherwise.",
        "operationId": "GroupV2.GetUserClanInviteSetting",
        "parameters": [
          {
            "name": "mType",
            "in": "path",
            "description": "The Destiny membership type of the account we wish to access settings.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "security": [
          {
            "oauth2": [
              "ReadUserData"
            ]
          }
        ]
      }
    },
    "/GroupV2/SetUserClanInviteSetting/{mType}/{allowInvites}/": {
      "summary": "GroupV2.SetUserClanInviteSetting",
      "description": "Sets the state of the user's clan invite preferences - true if they wish to be invited to clans, false otherwise.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Sets the state of the user's clan invite preferences - true if they wish to be invited to clans, false otherwise.",
        "operationId": "GroupV2.SetUserClanInviteSetting",
        "parameters": [
          {
            "name": "allowInvites",
            "in": "path",
            "description": "True to allow invites of this user to clans, false otherwise.",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mType",
            "in": "path",
            "description": "The Destiny membership type of linked account we are manipulating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "EditUserData"
            ]
          }
        ]
      }
    },
    "/GroupV2/Recommended/{groupType}/{createDateRange}/": {
      "summary": "GroupV2.GetRecommendedGroups",
      "description": "Gets groups recommended for you based on the groups to whom those you follow belong.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets groups recommended for you based on the groups to whom those you follow belong.",
        "operationId": "GroupV2.GetRecommendedGroups",
        "parameters": [
          {
            "name": "createDateRange",
            "in": "path",
            "description": "The date range of activity of groups for which we should search. Is that proper grammar I don't know",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupDateRange"
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "The type of group to get.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfGroupV2Card"
          }
        },
        "security": [
          {
            "oauth2": [
              "ReadGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/Search/": {
      "summary": "GroupV2.GroupSearch",
      "description": "Search for Groups.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Search for Groups.",
        "operationId": "GroupV2.GroupSearch",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupSearchResponse"
          }
        }
      }
    },
    "/GroupV2/{groupId}/": {
      "summary": "GroupV2.GetGroup",
      "description": "Get information about a specific group of the given ID.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group of the given ID.",
        "operationId": "GroupV2.GetGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Requested group's id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupResponse"
          }
        }
      }
    },
    "/GroupV2/Name/{groupName}/{groupType}/": {
      "summary": "GroupV2.GetGroupByName",
      "description": "Get information about a specific group with the given name and type.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about a specific group with the given name and type.",
        "operationId": "GroupV2.GetGroupByName",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "Exact name of the group to find.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group to find.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupResponse"
          }
        }
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/": {
      "summary": "GroupV2.GetGroupOptionalConversations",
      "description": "Gets a list of available optional conversation channels and their settings.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Gets a list of available optional conversation channels and their settings.",
        "operationId": "GroupV2.GetGroupOptionalConversations",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Requested group's id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CEListOfGroupOptionalConversation"
          }
        }
      }
    },
    "/GroupV2/Create/": {
      "summary": "GroupV2.CreateGroup",
      "description": "Create a new group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Create a new group.",
        "operationId": "GroupV2.CreateGroup",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupCreationResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Edit/": {
      "summary": "GroupV2.EditGroup",
      "description": "Edit an existing group. You must have suitable permissions in the group to perform this operation. This latest revision will only edit the fields you pass in - pass null for properties you want to leave unaltered.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit an existing group. You must have suitable permissions in the group to perform this operation. This latest revision will only edit the fields you pass in - pass null for properties you want to leave unaltered.",
        "operationId": "GroupV2.EditGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupEditAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/EditClanBanner/": {
      "summary": "GroupV2.EditClanBanner",
      "description": "Edit an existing group's clan banner. You must have suitable permissions in the group to perform this operation. All fields are required.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit an existing group's clan banner. You must have suitable permissions in the group to perform this operation. All fields are required.",
        "operationId": "GroupV2.EditClanBanner",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.ClanBanner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/EditFounderOptions/": {
      "summary": "GroupV2.EditFounderOptions",
      "description": "Edit group options only available to a founder. You must have suitable permissions in the group to perform this operation.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit group options only available to a founder. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.EditFounderOptions",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupOptionsEditAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/Add/": {
      "summary": "GroupV2.AddOptionalConversation",
      "description": "Add a new optional conversation/chat channel. Requires admin permissions to the group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Add a new optional conversation/chat channel. Requires admin permissions to the group.",
        "operationId": "GroupV2.AddOptionalConversation",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupOptionalConversationAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int64"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/OptionalConversations/Edit/{conversationId}/": {
      "summary": "GroupV2.EditOptionalConversation",
      "description": "Edit the settings of an optional conversation/chat channel. Requires admin permissions to the group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit the settings of an optional conversation/chat channel. Requires admin permissions to the group.",
        "operationId": "GroupV2.EditOptionalConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "Conversation Id of the channel being edited.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID of the group to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupOptionalConversationEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int64"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/": {
      "summary": "GroupV2.GetMembersOfGroup",
      "description": "Get the list of members in a given group.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of members in a given group.",
        "operationId": "GroupV2.GetMembersOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "memberType",
            "in": "query",
            "description": "Filter out other member types. Use None for all members.",
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.RuntimeGroupMemberType"
            }
          },
          {
            "name": "nameSearch",
            "in": "query",
            "description": "The name fragment upon which a search should be executed for members with matching display or unique names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMember"
          }
        }
      }
    },
    "/GroupV2/{groupId}/AdminsAndFounder/": {
      "summary": "GroupV2.GetAdminsAndFounderOfGroup",
      "description": "Get the list of members in a given group who are of admin level or higher.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of members in a given group who are of admin level or higher.",
        "operationId": "GroupV2.GetAdminsAndFounderOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMember"
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/SetMembershipType/{memberType}/": {
      "summary": "GroupV2.EditGroupMembership",
      "description": "Edit the membership type of a given member. You must have suitable permissions in the group to perform this operation.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Edit the membership type of a given member. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.EditGroupMembership",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group to which the member belongs.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to modify.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provide membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          },
          {
            "name": "memberType",
            "in": "path",
            "description": "New membertype for the specified member.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.RuntimeGroupMemberType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Kick/": {
      "summary": "GroupV2.KickMember",
      "description": "Kick a member from the given group, forcing them to reapply if they wish to re-join the group. You must have suitable permissions in the group to perform this operation.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Kick a member from the given group, forcing them to reapply if they wish to re-join the group. You must have suitable permissions in the group to perform this operation.",
        "operationId": "GroupV2.KickMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID to kick the user from.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to kick.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupMemberLeaveResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Ban/": {
      "summary": "GroupV2.BanMember",
      "description": "Bans the requested member from the requested group for the specified period of time.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Bans the requested member from the requested group for the specified period of time.",
        "operationId": "GroupV2.BanMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID that has the member to ban.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID of the member to ban from the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupBanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Unban/": {
      "summary": "GroupV2.UnbanMember",
      "description": "Unbans the requested member, allowing them to re-apply for membership.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Unbans the requested member, allowing them to re-apply for membership.",
        "operationId": "GroupV2.UnbanMember",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID of the member to unban from the group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Banned/": {
      "summary": "GroupV2.GetBannedMembersOfGroup",
      "description": "Get the list of banned members in a given group. Only accessible to group Admins and above. Not applicable to all groups. Check group features.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of banned members in a given group. Only accessible to group Admins and above. Not applicable to all groups. Check group features.",
        "operationId": "GroupV2.GetBannedMembersOfGroup",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 entries.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Group ID whose banned members you are fetching",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupBan"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Admin/AbdicateFoundership/{membershipType}/{founderIdNew}/": {
      "summary": "GroupV2.AbdicateFoundership",
      "description": "An administrative method to allow the founder of a group or clan to give up their position to another admin permanently.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "An administrative method to allow the founder of a group or clan to give up their position to another admin permanently.",
        "operationId": "GroupV2.AbdicateFoundership",
        "parameters": [
          {
            "name": "founderIdNew",
            "in": "path",
            "description": "The new founder for this group. Must already be a group admin.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The target group id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the provided founderIdNew.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/Apply/{membershipType}/": {
      "summary": "GroupV2.RequestGroupMembership",
      "description": "Request permission to join the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Request permission to join the given group.",
        "operationId": "GroupV2.RequestGroupMembership",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group you would like to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "MembershipType of the account to use when joining.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupApplicationResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/Pending/": {
      "summary": "GroupV2.GetPendingMemberships",
      "description": "Get the list of users who are awaiting a decision on their application to join a given group. Modified to include application info.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of users who are awaiting a decision on their application to join a given group. Modified to include application info.",
        "operationId": "GroupV2.GetPendingMemberships",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMemberApplication"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/InvitedIndividuals/": {
      "summary": "GroupV2.GetInvitedIndividuals",
      "description": "Get the list of users who have been invited into the group.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get the list of users who have been invited into the group.",
        "operationId": "GroupV2.GetInvitedIndividuals",
        "parameters": [
          {
            "name": "currentpage",
            "in": "path",
            "description": "Page number (starting with 1). Each page has a fixed size of 50 items per page.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResultOfGroupMemberApplication"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/Rescind/{membershipType}/": {
      "summary": "GroupV2.RescindGroupMembership",
      "description": "Rescind your application to join the given group or leave the group if you are already a member..",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Rescind your application to join the given group or leave the group if you are already a member..",
        "operationId": "GroupV2.RescindGroupMembership",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "MembershipType of the account to leave.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupMemberLeaveResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "BnetWrite"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/ApproveAll/": {
      "summary": "GroupV2.ApproveAllPending",
      "description": "Approve all of the pending users for the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Approve all of the pending users for the given group.",
        "operationId": "GroupV2.ApproveAllPending",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/DenyAll/": {
      "summary": "GroupV2.DenyAllPending",
      "description": "Deny all of the pending users for the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Deny all of the pending users for the given group.",
        "operationId": "GroupV2.DenyAllPending",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/ApproveList/": {
      "summary": "GroupV2.ApprovePendingForList",
      "description": "Approve all of the pending users for the given group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Approve all of the pending users for the given group.",
        "operationId": "GroupV2.ApprovePendingForList",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/Approve/{membershipType}/{membershipId}/": {
      "summary": "GroupV2.ApprovePending",
      "description": "Approve the given membershipId to join the group/clan as long as they have applied.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Approve the given membershipId to join the group/clan as long as they have applied.",
        "operationId": "GroupV2.ApprovePending",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "The membership id being approved.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolean"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/DenyList/": {
      "summary": "GroupV2.DenyPendingForList",
      "description": "Deny all of the pending users for the given group that match the passed-in .",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Deny all of the pending users for the given group that match the passed-in .",
        "operationId": "GroupV2.DenyPendingForList",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfEntityActionResult"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/User/{membershipType}/{membershipId}/{filter}/{groupType}/": {
      "summary": "GroupV2.GetGroupsForMember",
      "description": "Get information about the groups that a given member has joined.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about the groups that a given member has joined.",
        "operationId": "GroupV2.GetGroupsForMember",
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "Filter apply to list of joined groups.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupsForMemberFilter"
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group the supplied member founded.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupType"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to for which to find founded groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupMembershipSearchResponse"
          }
        }
      }
    },
    "/GroupV2/User/Potential/{membershipType}/{membershipId}/{filter}/{groupType}/": {
      "summary": "GroupV2.GetPotentialGroupsForMember",
      "description": "Get information about the groups that a given member has applied to or been invited to.",
      "get": {
        "tags": [
          "GroupV2"
        ],
        "description": "Get information about the groups that a given member has applied to or been invited to.",
        "operationId": "GroupV2.GetPotentialGroupsForMember",
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "Filter apply to list of potential joined groups.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupPotentialMemberStatus"
            }
          },
          {
            "name": "groupType",
            "in": "path",
            "description": "Type of group the supplied member applied.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GroupsV2.GroupType"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership ID to for which to find applied groups.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "Membership type of the supplied membership ID.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupPotentialMembershipSearchResponse"
          }
        }
      }
    },
    "/GroupV2/{groupId}/Members/IndividualInvite/{membershipType}/{membershipId}/": {
      "summary": "GroupV2.IndividualGroupInvite",
      "description": "Invite a user to join this group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Invite a user to join this group.",
        "operationId": "GroupV2.IndividualGroupInvite",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group you would like to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership id of the account being invited.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "MembershipType of the account being invited.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupsV2.GroupApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupApplicationResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/GroupV2/{groupId}/Members/IndividualInviteCancel/{membershipType}/{membershipId}/": {
      "summary": "GroupV2.IndividualGroupInviteCancel",
      "description": "Cancels a pending invitation to join a group.",
      "post": {
        "tags": [
          "GroupV2"
        ],
        "description": "Cancels a pending invitation to join a group.",
        "operationId": "GroupV2.IndividualGroupInviteCancel",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "ID of the group you would like to join.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "description": "Membership id of the account being cancelled.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "MembershipType of the account being cancelled.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsV2.GroupApplicationResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "AdminGroups"
            ]
          }
        ]
      }
    },
    "/Destiny2/Manifest/": {
      "summary": "Destiny2.GetDestinyManifest",
      "description": "Returns the current version of the manifest as a json object.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns the current version of the manifest as a json object.",
        "operationId": "Destiny2.GetDestinyManifest",
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Config.DestinyManifest"
          }
        }
      }
    },
    "/Destiny2/Manifest/{entityType}/{hashIdentifier}/": {
      "summary": "Destiny2.GetDestinyEntityDefinition",
      "description": "Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.",
        "operationId": "Destiny2.GetDestinyEntityDefinition",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "description": "The type of entity for whom you would like results. These correspond to the entity's definition contract name. For instance, if you are looking for items, this property should be 'DestinyInventoryItemDefinition'. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is tentatively in final form, but there may be bugs that prevent desirable operation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hashIdentifier",
            "in": "path",
            "description": "The hash identifier for the specific Entity you want returned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Definitions.DestinyDefinition"
          }
        }
      }
    },
    "/Destiny2/SearchDestinyPlayer/{membershipType}/{displayName}/": {
      "summary": "Destiny2.SearchDestinyPlayer",
      "description": "Returns a list of Destiny memberships given a full Gamertag or PSN ID.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns a list of Destiny memberships given a full Gamertag or PSN ID.",
        "operationId": "Destiny2.SearchDestinyPlayer",
        "parameters": [
          {
            "name": "displayName",
            "in": "path",
            "description": "The full gamertag or PSN id of the player. Spaces and case are ignored.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "A valid non-BungieNet membership type, or All.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IEnumerableOfUserInfoCard"
          }
        }
      }
    },
    "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/": {
      "summary": "Destiny2.GetProfile",
      "description": "Returns Destiny Profile information for the supplied membership.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns Destiny Profile information for the supplied membership.",
        "operationId": "Destiny2.GetProfile",
        "parameters": [
          {
            "name": "components",
            "in": "query",
            "description": "A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Destiny.DestinyComponentType"
              }
            }
          },
          {
            "name": "destinyMembershipId",
            "in": "path",
            "description": "Destiny membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "A valid non-BungieNet membership type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Responses.DestinyProfileResponse"
          }
        }
      }
    },
    "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/": {
      "summary": "Destiny2.GetCharacter",
      "description": "Returns character information for the supplied character.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns character information for the supplied character.",
        "operationId": "Destiny2.GetCharacter",
        "parameters": [
          {
            "name": "characterId",
            "in": "path",
            "description": "ID of the character.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "components",
            "in": "query",
            "description": "A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Destiny.DestinyComponentType"
              }
            }
          },
          {
            "name": "destinyMembershipId",
            "in": "path",
            "description": "Destiny membership ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "A valid non-BungieNet membership type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Responses.DestinyCharacterResponse"
          }
        }
      }
    },
    "/Destiny2/Clan/{groupId}/WeeklyRewardState/": {
      "summary": "Destiny2.GetClanWeeklyRewardState",
      "description": "Returns information on the weekly clan rewards and if the clan has earned them or not. Note that this will always report rewards as not redeemed.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Returns information on the weekly clan rewards and if the clan has earned them or not. Note that this will always report rewards as not redeemed.",
        "operationId": "Destiny2.GetClanWeeklyRewardState",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "A valid group id of clan.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Milestones.DestinyMilestone"
          }
        }
      }
    },
    "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Item/{itemInstanceId}/": {
      "summary": "Destiny2.GetItem",
      "description": "Retrieve the details of an instanced Destiny Item. An instanced Destiny item is one with an ItemInstanceId. Non-instanced items, such as materials, have no useful instance-specific details and thus are not queryable here.",
      "get": {
        "tags": [
          "Destiny2"
        ],
        "description": "Retrieve the details of an instanced Destiny Item. An instanced Destiny item is one with an ItemInstanceId. Non-instanced items, such as materials, have no useful instance-specific details and thus are not queryable here.",
        "operationId": "Destiny2.GetItem",
        "parameters": [
          {
            "name": "components",
            "in": "query",
            "description": "A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Destiny.DestinyComponentType"
              }
            }
          },
          {
            "name": "destinyMembershipId",
            "in": "path",
            "description": "The membership ID of the destiny profile.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "itemInstanceId",
            "in": "path",
            "description": "The Instance ID of the destiny item.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "A valid non-BungieNet membership type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Responses.DestinyItemResponse"
          }
        }
      }
    },
    "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/Vendors/": {
      "summary": "Destiny2.GetVendors",
      "description": "Get currently available vendors. PREVIEW: This service is not yet active, but we are returning the planned schema of the endpoint for review, comment, and preparation for its eventual implementation.",
      "get": {
        "tags": [
          "Destiny2",
          "Preview"
        ],
        "description": "Get currently available vendors. PREVIEW: This service is not yet active, but we are returning the planned schema of the endpoint for review, comment, and preparation for its eventual implementation.",
        "operationId": "Destiny2.GetVendors",
        "parameters": [
          {
            "name": "characterId",
            "in": "path",
            "description": "The Destiny Character ID of the character for whom we're getting vendor info.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "components",
            "in": "query",
            "description": "A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Destiny.DestinyComponentType"
              }
            }
          },
          {
            "name": "destinyMembershipId",
            "in": "path",
            "description": "Destiny membership ID of another user. You may be denied.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "A valid non-BungieNet membership type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOfDestinyVendorResponse"
          }
        },
        "x-preview": true
      }
    },
    "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/Vendors/{vendorHash}/": {
      "summary": "Destiny2.GetVendor",
      "description": "Get the details of a specific Vendor. PREVIEW: This service is not yet active, but we are returning the planned schema of the endpoint for review, comment, and preparation for its eventual implementation.",
      "get": {
        "tags": [
          "Destiny2",
          "Preview"
        ],
        "description": "Get the details of a specific Vendor. PREVIEW: This service is not yet active, but we are returning the planned schema of the endpoint for review, comment, and preparation for its eventual implementation.",
        "operationId": "Destiny2.GetVendor",
        "parameters": [
          {
            "name": "characterId",
            "in": "path",
            "description": "The Destiny Character ID of the character for whom we're getting vendor info.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "components",
            "in": "query",
            "description": "A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Destiny.DestinyComponentType"
              }
            }
          },
          {
            "name": "destinyMembershipId",
            "in": "path",
            "description": "Destiny membership ID of another user. You may be denied.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "membershipType",
            "in": "path",
            "description": "A valid non-BungieNet membership type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BungieMembershipType"
            }
          },
          {
            "name": "vendorHash",
            "in": "path",
            "description": "The Hash identifier of the Vendor to be returned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.Responses.DestinyVendorResponse"
          }
        },
        "x-preview": true
      }
    },
    "/Destiny2/Actions/Items/TransferItem/": {
      "summary": "Destiny2.TransferItem",
      "description": "Transfer an item to/from your vault. You must have a valid Destiny account. You must also pass BOTH a reference AND an instance ID if it's an instanced item. itshappening.gif",
      "post": {
        "tags": [
          "Destiny2"
        ],
        "description": "Transfer an item to/from your vault. You must have a valid Destiny account. You must also pass BOTH a reference AND an instance ID if it's an instanced item. itshappening.gif",
        "operationId": "Destiny2.TransferItem",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Destiny.Requests.DestinyItemTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "MoveEquipDestinyItems"
            ]
          }
        ]
      }
    },
    "/Destiny2/Actions/Items/EquipItem/": {
      "summary": "Destiny2.EquipItem",
      "description": "Equip an item. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline.",
      "post": {
        "tags": [
          "Destiny2"
        ],
        "description": "Equip an item. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline.",
        "operationId": "Destiny2.EquipItem",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Destiny.Requests.Actions.DestinyItemActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "MoveEquipDestinyItems"
            ]
          }
        ]
      }
    },
    "/Destiny2/Actions/Items/EquipItems/": {
      "summary": "Destiny2.EquipItems",
      "description": "Equip a list of items by itemInstanceIds. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline. Any items not found on your character will be ignored.",
      "post": {
        "tags": [
          "Destiny2"
        ],
        "description": "Equip a list of items by itemInstanceIds. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline. Any items not found on your character will be ignored.",
        "operationId": "Destiny2.EquipItems",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Destiny.Requests.Actions.DestinyItemSetActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destiny.DestinyEquipItemResults"
          }
        },
        "security": [
          {
            "oauth2": [
              "MoveEquipDestinyItems"
            ]
          }
        ]
      }
    },
    "/Destiny2/Actions/Items/SetLockState/": {
      "summary": "Destiny2.SetItemLockState",
      "description": "Set the Lock State for an instanced item. You must have a valid Destiny Account.",
      "post": {
        "tags": [
          "Destiny2"
        ],
        "description": "Set the Lock State for an instanced item. You must have a valid Destiny Account.",
        "operationId": "Destiny2.SetItemLockState",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Destiny.Requests.Actions.DestinyItemStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/int32"
          }
        },
        "security": [
          {
            "oauth2": [
              "MoveEquipDestinyItems"
            ]
          }
        ]
      }
    },
    "/Destiny2/Actions/Items/InsertSocketPlug/": {
      "summary": "Destiny2.InsertSocketPlug",
[...]
